html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

i {
  color: #000;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
}

.list-section {
  border: 0.2rem solid #bbb;
  margin-top: 6rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  border-bottom: 0.2rem solid #bbb;
}

input {
  display: block;
  width: 100%;
  padding: 0.8rem;
  border: none;
  border-bottom: 0.2rem solid #bbb;
  outline: none;
  font-size: 1.5rem;
  color: #000;
}

input::placeholder {
  font-size: 1.5rem;
}

.fa-trash-can {
  display: none;
  margin-left: 1rem;
}

.fa-ellipsis-vertical {
  cursor: pointer;
  transition: all 0.5s ease;
  margin-left: 0.5rem;
}

.fa-ellipsis-vertical:hover {
  background-color: #000;
  color: #fff;
  padding: 0.2rem;
}

.new-task--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  border: none;
  border-bottom: 0.2rem solid #bbb;
}

span {
  font-size: 1.5rem;
  color: #000;
  line-height: 0;
}

.check-task {
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  padding: 0;
  margin: 0;
}

.task-checked {
  text-decoration: line-through;
}

.trash-display {
  display: block;
}

.checked-container {
  background-color: #e4c649;
}

.dot-display {
  display: none;
}

.remove-edit {
  display: none;
}

button {
  display: block;
  width: 100%;
  text-align: center;
  padding: 0.8rem;
  border: none;
  background-color: #fff;
  font-size: 1.5rem;
  transition: all 0.5s ease;
}

button:hover {
  font-size: 1.7rem;
  cursor: pointer;
}
